// Imported by _helpers-rock.scss


// ROCK CUSTOM SPACING UTILITIES
// -------------------------

// Padding Utilities

.p-spacing-none {
  padding: 0 !important;
}

.p-spacing-tiny {
  padding: var(--spacing-tiny) !important;
}

.p-spacing-xs {
  padding: var(--spacing-xsmall) !important;
}

.p-spacing-sm {
  padding: var(--spacing-small) !important;
}

.p-spacing-md {
  padding: var(--spacing-medium) !important;
}

.p-spacing-lg {
  padding: var(--spacing-large) !important;
}

.p-spacing-xl {
  padding: var(--spacing-xlarge) !important;
}

.p-spacing-huge {
  padding: var(--spacing-huge) !important;
}

.py-spacing-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-spacing-tiny {
  padding-top: var(--spacing-tiny) !important;
  padding-bottom: var(--spacing-tiny) !important;
}

.py-spacing-xs {
  padding-top: var(--spacing-xsmall) !important;
  padding-bottom: var(--spacing-xsmall) !important;
}

.py-spacing-sm {
  padding-top: var(--spacing-small) !important;
  padding-bottom: var(--spacing-small) !important;
}

.py-spacing-md {
  padding-top: var(--spacing-medium) !important;
  padding-bottom: var(--spacing-medium) !important;
}

.py-spacing-lg {
  padding-top: var(--spacing-large) !important;
  padding-bottom: var(--spacing-large) !important;
}

.py-spacing-xl {
  padding-top: var(--spacing-xlarge) !important;
  padding-bottom: var(--spacing-xlarge) !important;
}

.py-spacing-huge {
  padding-top: var(--spacing-huge) !important;
  padding-bottom: var(--spacing-huge) !important;
}

.px-spacing-none {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-spacing-tiny {
  padding-right: var(--spacing-tiny) !important;
  padding-left: var(--spacing-tiny) !important;
}

.px-spacing-xs {
  padding-right: var(--spacing-xsmall) !important;
  padding-left: var(--spacing-xsmall) !important;
}

.px-spacing-sm {
  padding-right: var(--spacing-small) !important;
  padding-left: var(--spacing-small) !important;
}

.px-spacing-md {
  padding-right: var(--spacing-medium) !important;
  padding-left: var(--spacing-medium) !important;
}

.px-spacing-lg {
  padding-right: var(--spacing-large) !important;
  padding-left: var(--spacing-large) !important;
}

.px-spacing-xl {
  padding-right: var(--spacing-xlarge) !important;
  padding-left: var(--spacing-xlarge) !important;
}

.px-spacing-huge {
  padding-right: var(--spacing-huge) !important;
  padding-left: var(--spacing-huge) !important;
}

.pt-spacing-none {
  padding-top: 0 !important;
}

.pt-spacing-tiny {
  padding-top: var(--spacing-tiny) !important;
}

.pt-spacing-xs {
  padding-top: var(--spacing-xsmall) !important;
}

.pt-spacing-sm {
  padding-top: var(--spacing-small) !important;
}

.pt-spacing-md {
  padding-top: var(--spacing-medium) !important;
}

.pt-spacing-lg {
  padding-top: var(--spacing-large) !important;
}

.pt-spacing-xl {
  padding-top: var(--spacing-xlarge) !important;
}

.pt-spacing-huge {
  padding-top: var(--spacing-huge) !important;
}

.pb-spacing-none {
  padding-bottom: 0 !important;
}

.pb-spacing-tiny {
  padding-bottom: var(--spacing-tiny) !important;
}

.pb-spacing-xs {
  padding-bottom: var(--spacing-xsmall) !important;
}

.pb-spacing-sm {
  padding-bottom: var(--spacing-small) !important;
}

.pb-spacing-md {
  padding-bottom: var(--spacing-medium) !important;
}

.pb-spacing-lg {
  padding-bottom: var(--spacing-large) !important;
}

.pb-spacing-xl {
  padding-bottom: var(--spacing-xlarge) !important;
}

.pb-spacing-huge {
  padding-bottom: var(--spacing-huge) !important;
}

.pr-spacing-none {
  padding-right: 0 !important;
}

.pr-spacing-tiny {
  padding-right: var(--spacing-tiny) !important;
}

.pr-spacing-xs {
  padding-right: var(--spacing-xsmall) !important;
}

.pr-spacing-sm {
  padding-right: var(--spacing-small) !important;
}

.pr-spacing-md {
  padding-right: var(--spacing-medium) !important;
}

.pr-spacing-lg {
  padding-right: var(--spacing-large) !important;
}

.pr-spacing-xl {
  padding-right: var(--spacing-xlarge) !important;
}

.pr-spacing-huge {
  padding-right: var(--spacing-huge) !important;
}

.pl-spacing-none {
  padding-left: 0 !important;
}

.pl-spacing-tiny {
  padding-left: var(--spacing-tiny) !important;
}

.pl-spacing-xs {
  padding-left: var(--spacing-xsmall) !important;
}

.pl-spacing-sm {
  padding-left: var(--spacing-small) !important;
}

.pl-spacing-md {
  padding-left: var(--spacing-medium) !important;
}

.pl-spacing-lg {
  padding-left: var(--spacing-large) !important;
}

.pl-spacing-xl {
  padding-left: var(--spacing-xlarge) !important;
}

.pl-spacing-huge {
  padding-left: var(--spacing-huge) !important;
}

// Margin Utilities

.m-spacing-none {
  margin: 0 !important;
}

.m-spacing-tiny {
  margin: var(--spacing-tiny) !important;
}

.m-spacing-xs {
  margin: var(--spacing-xsmall) !important;
}

.m-spacing-sm {
  margin: var(--spacing-small) !important;
}

.m-spacing-md {
  margin: var(--spacing-medium) !important;
}

.m-spacing-lg {
  margin: var(--spacing-large) !important;
}

.m-spacing-xl {
  margin: var(--spacing-xlarge) !important;
}

.m-spacing-huge {
  margin: var(--spacing-huge) !important;
}

.my-spacing-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-spacing-tiny {
  margin-top: var(--spacing-tiny) !important;
  margin-bottom: var(--spacing-tiny) !important;
}

.my-spacing-xs {
  margin-top: var(--spacing-xsmall) !important;
  margin-bottom: var(--spacing-xsmall) !important;
}

.my-spacing-sm {
  margin-top: var(--spacing-small) !important;
  margin-bottom: var(--spacing-small) !important;
}

.my-spacing-md {
  margin-top: var(--spacing-medium) !important;
  margin-bottom: var(--spacing-medium) !important;
}

.my-spacing-lg {
  margin-top: var(--spacing-large) !important;
  margin-bottom: var(--spacing-large) !important;
}

.my-spacing-xl {
  margin-top: var(--spacing-xlarge) !important;
  margin-bottom: var(--spacing-xlarge) !important;
}

.my-spacing-huge {
  margin-top: var(--spacing-huge) !important;
  margin-bottom: var(--spacing-huge) !important;
}

.mx-spacing-none {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx-spacing-tiny {
  margin-right: var(--spacing-tiny) !important;
  margin-left: var(--spacing-tiny) !important;
}

.mx-spacing-xs {
  margin-right: var(--spacing-xsmall) !important;
  margin-left: var(--spacing-xsmall) !important;
}

.mx-spacing-sm {
  margin-right: var(--spacing-small) !important;
  margin-left: var(--spacing-small) !important;
}

.mx-spacing-md {
  margin-right: var(--spacing-medium) !important;
  margin-left: var(--spacing-medium) !important;
}

.mx-spacing-lg {
  margin-right: var(--spacing-large) !important;
  margin-left: var(--spacing-large) !important;
}

.mx-spacing-xl {
  margin-right: var(--spacing-xlarge) !important;
  margin-left: var(--spacing-xlarge) !important;
}

.mx-spacing-huge {
  margin-right: var(--spacing-huge) !important;
  margin-left: var(--spacing-huge) !important;
}

.mt-spacing-none {
  margin-top: 0 !important;
}

.mt-spacing-tiny {
  margin-top: var(--spacing-tiny) !important;
}

.mt-spacing-xs {
  margin-top: var(--spacing-xsmall) !important;
}

.mt-spacing-sm {
  margin-top: var(--spacing-small) !important;
}

.mt-spacing-md {
  margin-top: var(--spacing-medium) !important;
}

.mt-spacing-lg {
  margin-top: var(--spacing-large) !important;
}

.mt-spacing-xl {
  margin-top: var(--spacing-xlarge) !important;
}

.mt-spacing-huge {
  margin-top: var(--spacing-huge) !important;
}

.mb-spacing-none {
  margin-bottom: 0 !important;
}

.mb-spacing-tiny {
  margin-bottom: var(--spacing-tiny) !important;
}

.mb-spacing-xs {
  margin-bottom: var(--spacing-xsmall) !important;
}

.mb-spacing-sm {
  margin-bottom: var(--spacing-small) !important;
}

.mb-spacing-md {
  margin-bottom: var(--spacing-medium) !important;
}

.mb-spacing-lg {
  margin-bottom: var(--spacing-large) !important;
}

.mb-spacing-xl {
  margin-bottom: var(--spacing-xlarge) !important;
}

.mb-spacing-huge {
  margin-bottom: var(--spacing-huge) !important;
}

.mr-spacing-none {
  margin-right: 0 !important;
}

.mr-spacing-tiny {
  margin-right: var(--spacing-tiny) !important;
}

.mr-spacing-xs {
  margin-right: var(--spacing-xsmall) !important;
}

.mr-spacing-sm {
  margin-right: var(--spacing-small) !important;
}

.mr-spacing-md {
  margin-right: var(--spacing-medium) !important;
}

.mr-spacing-lg {
  margin-right: var(--spacing-large) !important;
}

.mr-spacing-xl {
  margin-right: var(--spacing-xlarge) !important;
}

.mr-spacing-huge {
  margin-right: var(--spacing-huge) !important;
}

.ml-spacing-none {
  margin-left: 0 !important;
}

.ml-spacing-tiny {
  margin-left: var(--spacing-tiny) !important;
}

.ml-spacing-xs {
  margin-left: var(--spacing-xsmall) !important;
}

.ml-spacing-sm {
  margin-left: var(--spacing-small) !important;
}

.ml-spacing-md {
  margin-left: var(--spacing-medium) !important;
}

.ml-spacing-lg {
  margin-left: var(--spacing-large) !important;
}

.ml-spacing-xl {
  margin-left: var(--spacing-xlarge) !important;
}

.ml-spacing-huge {
  margin-left: var(--spacing-huge) !important;
}