// This file is imported by _helpers.scss


.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.hover-underline:hover {
  text-decoration: underline;
}
