// imported by _core.scss

// Shared Block Styles


// =============================================================
// Table of Content
//  + Obsidian Block Placeholder
// =============================================================



// ======================== OBSIDIAN BLOCK PLACEHOLDER ========================


.block-content > .obsidian-block-has-placeholder {
  position:     relative;
  transition:   height 0.1s ease-in-out;
  overflow:     hidden;
}
.block-content > .obsidian-block-has-placeholder.obsidian-block-loading {
    height:     var(--initial-block-height, auto); // NOTE: The `--initial-block-height` value is dynamically set by a RockBlockType.cs file.
}
.block-content > .obsidian-block-has-placeholder > .obsidian-block-placeholder {
    opacity:    0;
    visibility: hidden;
    transition: visibility 0.2s linear, opacity 0.2s linear;
    height:     100%;
    width:      100%;
    position:   absolute;
    top:        0;
    left:       0;
    z-index:    1000;
}
.block-content > .obsidian-block-has-placeholder.obsidian-block-loading > .obsidian-block-placeholder {
    opacity: 1;
    visibility: visible;
}
.block-content > .obsidian-block-has-placeholder > .obsidian-block-wrapper {
    visibility: visible;
}
.block-content > .obsidian-block-has-placeholder.obsidian-block-loading > .obsidian-block-wrapper {
    min-height: 0;
    transition: visibility 0.2s;
    visibility: hidden;
}

// ====================== END BLOCK STYLE ======================