/*
    Used to manage styles for specific blocks.

    1. Calendar - Styles for the calendar blocks
    2. Event Entry - The event registration entry screen
*/



//  BLOCK EVENTS STYLE


// =============================================================
// Table of Content
//  + Calendar - Styles for the calendar blocks
//  + Event Entry - The event registration entry screen
//  + Group Placement - Styles for the group placement block
// =============================================================


// ======================== CALENDAR ========================
.calendar {
  display:                inline-block;
  width:                  100%;
  padding:                0 10px 10px;
  border:                 1px solid var(--color-interface-soft);
  border-radius:          var(--rounded-small);
}

.calendar-month {
  border-spacing:       0;
  border-collapse:      separate;
  border:               0;

  a {
    color:                var(--color-interface-stronger) !important;
    text-decoration:      none;
  }

  th {
    text-align:         center;
  }

  td {
    color:              var(--color-interface-stronger) !important;
  }

  table.calendar-title td {
    padding:            var(--spacing-small) var(--spacing-tiny);
  }

  td.calendar-day {
    padding:            var(--spacing-tiny);
  }

  table.calendar-title,
  table.calendar-title a {
    font-weight:        var(--font-weight-semibold);
  }

  .calendar-today,
  .calendar-selecteditem {
    color:              var(--color-info-strong) !important;
    background-color:   var(--color-info-soft) !important;
    border-radius:      0;
  }

  .calendar-today {
    border-radius:      var(--rounded-small);
  }

  .calendar-selected {
    color:              var(--color-interface-softest) !important;
    background-color:   var(--color-info-soft) !important;

    a {
      color:            var(--color-interface-softest) !important;
    }
  }

  .calendar-last-month a {
    opacity:            0.2;
  }

  .calendar-hasevent {
    font-weight:        var(--font-weight-bold);
  }
}
// ====================== END CALENDAR ======================


// ======================== EVENT ENTRY ========================
.registrationentry-intro {
  text-align:            center;

  h1 {
    margin-top:         var(--spacing-large);
    margin-bottom:      var(--spacing-xlarge);
  }

  .input-group {
    margin:             0 auto var(--spacing-xlarge);
  }
}

.registration-entry {
  .feetype-allowmultiples {
    > .control-label {
      display:          block;
      margin-bottom:    var(--spacing-xsmall);
    }

    .form-group {
      margin-left:      19px;
    }
  }
}

.registrationentry-summary {
  .fee-table {
    margin:            0 var(--spacing-large);

    > .row {
      padding:          6px 0;

      div[class^="col-"] {
        padding-right:  0;
        padding-left:   0;
      }
    }
  }

  .row.fee-header {
    padding-bottom:    2px;
    margin-bottom:     6px;
    font-size:        var(--font-size-small);
    border-bottom:    2px solid var(--color-interface-strong);
  }

  .fee-row-cost,
  .fee-row-total {
    font-weight:       var(--font-weight-semibold);
  }

  .fee-row-total {
    margin-top:       6px;
    border-top:      1px solid var(--color-interface-strong);
  }

  .row.fee-row-fee {
    font-weight:       var(--font-weight-light);

    @media (min-width: $screen-small) {
      > div.fee-caption {
        padding-left:    20px;
      }
    }
  }

  @media (min-width: $screen-small) {
    div.fee-value {
      text-align:       right;
    }
  }
}

.registrationentry-payment {
  .payment-method-options .payment-method {
    margin-bottom:      20px;
  }

  .payment-method .payment-method-image {
    height:            1.4em;
    margin-right:      var(--spacing-xsmall);
  }

  .payment-method-account {
    display:           inline-flex;
    align-items:      center;
  }

  .payment-method .payment-method-name {
    margin-right:      var(--spacing-xsmall);
    font-weight:       600;
  }

  .hosted-payment-control {
    margin-bottom:     60px;
  }

  @media (min-width: 500px) {
    .payment-method-options .payment-method-entry {
      padding-left:     28px;
    }
  }
}

.fee-totals {
  margin-top:           var(--spacing-large);

  .fee-totals-options {
    text-align:         right;
  }
}

.amount-to-pay {
  input {
    text-align:         right;
  }
}
// ====================== END EVENT ENTRY ======================

// ======================== GROUP PLACEMENT ========================

.gender-section {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.loading-section {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gender-section .group-role-wrapper {
    padding: 0;
    padding-top: var(--spacing-small);
}

.gender-highlight-label {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semibold);
}

.male-label {
    background-color: var(--color-gender-male-soft);
    color: var(--color-gender-male-shade);
}

.female-label {
    background-color: var(--color-gender-female-soft);
    color: var(--color-gender-female-shade);
}

.unknown-label {
    background-color: var(--color-interface-soft);
    color: var(--color-interface-strong);
}

.empty-drop-zone {
    width: 100%;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    padding: var(--spacing-xsmall);
    border: 1px dashed var(--color-interface-soft);
    color: var(--color-interface-soft);
}

.placement-capacity-label {
    border-radius: 100px;
}

.role-count {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    color: var(--color-interface-medium);
}

.role-count.over-under-role-capacity {
    color: var(--color-danger-strong);
}

.male-badge {
    background-color: var(--color-gender-male-shade) !important;
}

.female-badge {
    background-color: var(--color-gender-female-shade) !important;
}

.unknown-badge {
    background-color: var(--color-interface-soft) !important;
    color: var(--color-interface-stronger) !important;
}

.status-over {
    background-color: var(--color-danger-strong) !important;
}

.status-at {
    background-color: var(--color-critical-strong) !important;
}

.status-near {
    background-color: var(--color-warning-strong) !important;
    color: black;
}

.status-under {
    background-color: var(--color-success-strong) !important;
}

.group-role-wrapper {
    display: grid;
    gap: var(--spacing-medium);
    grid-template-columns: 1fr;
    padding: var(--spacing-medium);
}

@media (min-width: 1024px) {
    .group-role-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1440px) {
    .group-role-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1800px) {
    .group-role-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 2000px) {
    .group-role-wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
}

// ======================== END GROUP PLACEMENT ========================