
// This files is being imported by './_font-styling-core.scss'

.fa-lg,
.ti-lg {
    font-size: calc(4em / 3);
    line-height: calc(3em / 4);
    vertical-align: -.0667em;
}

.fa-xs,
.ti-xs {
    font-size: .75em !important;
}

.fa-sm,
.ti-sm {
    font-size: .875em !important;
}

.fa-2x,
.ti-2x {
    font-size: 2em !important;
}
.fa-3x,
.ti-3x {
    font-size: 3em !important;
}
.fa-4x,
.ti-4x {
    font-size: 4em !important;
}
.fa-5x,
.ti-5x {
    font-size: 5em !important;
}
.fa-6x,
.ti-6x {
    font-size: 6em !important;
}
.fa-7x,
.ti-7x {
    font-size: 7em !important;
}
.fa-8x,
.ti-8x {
    font-size: 8em !important;
}
.fa-9x,
.ti-9x {
    font-size: 9em !important;
}
.fa-10x,
.ti-10x {
    font-size: 10em !important;
}

