
// This files is being imported by './_font-styling-core.scss'

.fa-stack,
.ti-stacked {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}


.fa-stack-1x,
.ti-stacked-1x {
    line-height: inherit;
}
.fa-stack-2x,
.ti-stacked-2x {
    font-size: 2em;
}
.fa-inverse,
.ti-inverse {
    color: var(--color-interface-softest);
}

.fa-stack-1x,
.fa-stack-2x,
.ti-stacked-1x,
.ti-stacked-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}