/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */



// OVERRIDES FOR ANT SELECT
// ===========================================================================

.ant-select {
  color: var(--color-interface-strongest);
  font-size: var(--font-size-small);

  .ant-select-selector {

    .ant-select-selection-item {
      color: var(--color-interface-stronger);
    }

  }

  // Single Selects
  &.ant-select-single {

    &.ant-select-show-arrow {
      .ant-select-selection-item,
      .ant-select-selection-placeholder {
        padding-right: var(--spacing-medium);
      }
    }

    &:not(.ant-select-customize-input) .ant-select-selector {
      padding: 0 var(--spacing-small);
    }

    &.ant-select-customize-input .ant-select-selector .ant-select-selection-placeholder {
      padding: 0 var(--spacing-small);
    }

    &.ant-select-sm:not(.ant-select-customize-input) {

      .ant-select-selector {
        padding: 0 var(--spacing-xsmall);
      }

      &.ant-select-show-arrow {

        .ant-select-selection-item,
        .ant-select-selection-placeholder {
          padding-right: var(--spacing-large);
        }

      }

    }

    &.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
      padding: 0 var(--spacing-small);

    }

    // Prevent text from flowing undernearth caret indicator.
    &.form-control .ant-select-selection-item {
      padding-right:  0px;
      margin-right:   var(--spacing-medium);
      transition:     margin-right 0s, padding-right 0s;
    }

    // Prevent text from flowing undernearth clear and caret indicators.
    &.ant-select-allow-clear.form-control .ant-select-selection-item {
      margin-right:   36px;
    }

  }

  // Multi Selects
  &.ant-select-multiple {

    .ant-select-selector {
      padding: 1px var(--spacing-small);
    }

    .ant-select-show-arrow .ant-select-selector,
    .ant-select-allow-clear .ant-select-selector {
      padding-right: var(--spacing-medium);
    }

    .ant-select-selection-item {
      background: var(--color-interface-softer);
      border: 1px solid var(--color-interface-soft);
      border-radius: var(--rounded-tiny);
      margin-inline-end: var(--spacing-tiny);
      padding-inline-start: var(--spacing-xsmall);
      padding-inline-end: var(--spacing-tiny);
    }

    .ant-select-selection-item-content {
      margin-right: var(--spacing-tiny);
    }

    .ant-select-selection-item-remove {
      color: var(--color-interface-medium);
    }

    .ant-select-selection-item-remove:hover {
      color: var(--color-interface-strong);
    }

    .ant-select-selection-search {
      margin-inline-start: var(--spacing-xsmall);
    }

    .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      background: var(--color-interface-softer);
    }

    // Prevent text from flowing undernearth caret indicator.
    &.ant-select-multiple.form-control .ant-select-selection-overflow {
      padding: var(--spacing-tiny) var(--spacing-small);
    }

    // Allow control height to grow in multi-select mode.
    &.ant-select-multiple.form-control,
    &.ant-select-multiple.form-control .ant-select-selector {
      height: auto !important;
      min-height:   36px;
      padding: 0 0 !important;
    }

  }

  // Disabled State
  &.ant-select-disabled {

    &.ant-select-multiple {

      .ant-select-selector {
        background: var(--color-interface-softer);
      }

      .ant-select-selection-item {
        color: var(--color-interface-medium);
        border-color: var(--color-interface-soft);
      }

    }

    &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      color: var(--color-interface-stronger);
      background: var(--color-interface-softer);
    }


  }

  // Not Custom Input
  &:not(.ant-select-customize-input) {

    .ant-select-selector {
      background-color: var(--color-interface-softest);
      border: 1px solid var(--color-interface-soft);
      border-radius: var(--rounded-tiny);

        .ant-select-selection-search-input {
          color: var(--color-interface-stronger);
        }
    }

  }

  .ant-select-selection-placeholder {
    color: var(--color-interface-medium);
  }

  .ant-select-arrow {
    color: var(--color-interface-stronger);
  }

  .ant-select-clear {
    color: var(--color-interface-stronger);
    font-size: var(--font-size-xsmall);
    background: var(--color-interface-softest);
  }

  .ant-select-dropdown {
    color: var(--color-interface-stronger);
    padding: var(--spacing-tiny) 0;
    font-size: var(--font-size-small);
    background-color: var(--color-interface-softest);
    border: 1px solid var(--color-interface-soft);
  }

  .ant-select-dropdown-empty {
    color: var(--color-interface-stronger);
  }

  .ant-select-item-empty {
    padding: var(--spacing-tiny) var(--spacing-small);
    color: var(--color-interface-stronger);
    font-size: var(--font-size-small);
    color: var(--color-interface-stronger);
  }

  .ant-select-item {
    padding: var(--spacing-tiny) var(--spacing-small);
    color: var(--color-interface-stronger);
    font-size: var(--font-size-small);
  }

  .ant-select-item-group {
    color: var(--color-interface-medium);
    font-size: var(--font-size-xsmall);
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: var(--color-interface-softer);
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: var(--color-interface-strong);
    font-weight: var(--font-weight-semibold);
    background-color: var(--color-interface-soft);
  }

  .ant-select-item-option-disabled {
    color: var(--color-interface-stronger);

    .ant-select-item-option-selected {
      background-color: var(--color-interface-softer);
    }

  }

  .ant-select-item-option-grouped {
    padding-left: var(--spacing-medium);
  }

  .ant-select-lg {
    font-size: var(--font-size-regular);
  }

  .ant-select-dropdown-rtl .ant-select-item-option-grouped {
    padding-right: var(--spacing-large);
    padding-left: var(--spacing-small);
  }

  .ant-select-rtl.ant-select-multiple.ant-select-show-arrow .ant-select-selector,
  .ant-select-rtl.ant-select-multiple.ant-select-allow-clear .ant-select-selector {
    padding-right: var(--spacing-tiny);
    padding-left: var(--spacing-large);
  }

  .ant-select-rtl.ant-select-multiple .ant-select-selection-item-content {
    margin-left: var(--spacing-tiny);
  }

  .ant-select-auto-complete {
    color: var(--color-interface-stronger);
  }

  &.form-control {
    padding: 0;

    .ant-select-selector {
      height:           34px !important;
      padding:          var(--spacing-xsmall) var(--spacing-medium) !important;
      border-radius:    var(--rounded-small) !important;
      margin:           0 !important;
      background-color: initial !important;
      border:           none !important;
      box-shadow:       none !important;

      .ant-select-selection-item {
        display:        inline-flex;
        align-items:    center;
      }

    }

    .ant-select-arrow,
    .ant-select-clear {
      width:        16px;
      height:       16px;
      font-size:    var(--font-size-h6);
    }

  }

  .input-group & {

    &.ant-select-focused {
      z-index:          3;
    }

  }

  &.ant-select-focused:not(.ant-select-disabled).form-control {
    border:       1px solid var(--color-primary);
    outline:      none;
    box-shadow:   var(--input-focus-box-shadow);

      .ant-select-selector {
        border:       none;
        outline:      none;
        box-shadow:   none;
      }

  }

  // Prevent clear button from overlapping chevron arrow.
  .ant-select-clear {
    right:          30px;
  }

  // Prevent the text from being truncated in dropdown lists.
  &-dropdown {

    .ant-select-item {
      &-option {
        &-content {
          white-space:  normal;
          word-wrap:    break-word;
        }
      }
    }

  }

}