// imported in _core.scss

// FORMS EXTENSIONS


// =============================================================
// Table of Content
//  + Control Labels
//  + Form Controls
// =============================================================


// ======================CONTROL LABELS=====================

// Moved from _checkin-core.less
.form-group.required > .control-label::before {
  margin-right:    var(--spacing-tiny);
  background-color: var(--color-danger-strong);
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  content:        '';
  position: relative;
  transform: translateY(-30%);
}

.form-group {

  .control-label {
    margin-bottom:  var(--spacing-tiny);
    font-size:      var(--font-size-small);
    line-height:    18px;
  }

  .control-label-sm {
      display:    block;
      font-size:  var(--font-size-xsmall);
      color:      var(--color-interface-medium);
  }
}

.form-inline {

  .control-label {
    margin-right: var(--spacing-tiny);
  }

  .form-group.entity-type-picker > .control-label {
    margin-right: var(--spacing-xsmall);
  }

}


//======================END CONTROL LABELS=========================

//======================FORM CONTROLS=========================

.select.form-control {
    cursor: pointer;
}

[theme="dark"] select.form-control {
  background-image:       url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23D9D9E3' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");

  &:-moz-focusring {
    color:          transparent;
    text-shadow:    0 0 0 var(--color-interface-strong);
  }

  &:focus::-ms-value {
    color:              var(--color-interface-stronger);
    background-color:   var(--color-interface-softest);
  }
}
//======================END FORM CONTROLS=========================