.grid-overflow {
    overflow-x: auto;
}

.grid-obsidian {
    --table-cell-padding-x: 16px;
    --table-cell-padding-y: 16px;
    color: var(--color-interface-strongest);
    margin-bottom: var(--spacing-large);
    /* Allow some of the popups to be positioned relative to the grid */
    position: relative;
}

.grid-obsidian.grid-bordered {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.03), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.grid-obsidian.grid-bordered {
    border: 1px solid var(--color-interface-soft);
    border-radius: var(--rounded-medium);
}

.grid-header {
    background: var(--color-interface-softest);
    border-radius: var(--rounded-medium) var(--rounded-medium) 0 0;
    z-index: 1;
}

.grid-obsidian.grid-sticky > .grid-header {
    position: sticky;
    top: var(--sticky-element-offset);
}

.communication-detail-recipient-details > .grid-obsidian > .grid-header {
    position: sticky;
    top: 0;
}

.grid-obsidian .grid-column-header-container {
    border-top-left-radius: var(--rounded-medium);
    border-top-right-radius: var(--rounded-medium);
}

.grid-obsidian .grid-content-container .grid-column-header-container.sticky-column-header {
    position: sticky;
    z-index: 1;
    background-color: var(--color-interface-softest);
}

.grid-obsidian .grid-header-prepend {
    border-bottom: 1px solid var(--color-interface-soft);

    > * {
        padding: var(--spacing-medium);
    }
}

.grid-obsidian.grid-sticky .sticky-column-header {
    position: sticky;
    top: calc(var(--sticky-element-offset) + 57px);
    z-index: 1;
    background-color: var(--color-interface-softest);
}

.grid-obsidian > .grid-header > .grid-title-header {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--color-interface-soft);
    align-items: center;
    font-size: var(--font-size-h5);
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-title {
    flex-grow: 1;
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-medium);
    line-height: 1;
    padding-left: var(--spacing-large);
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-badges {
    height: 56px;
    display: flex;
    align-items: center;
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-actions {
    background-color: initial;
    text-align: initial;
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-actions .btn-grid-action {
    width: 56px;
    height: 56px;
    margin: 0;
    border-radius: 0;
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-actions .btn-grid-action.active {
    background-color: var(--color-interface-soft);
    color: var(--color-interface-stronger);
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-actions .btn-grid-action.btn-add {
    color: var(--color-info-strong);
    font-size: 115%;
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-actions .btn-grid-action.btn-add:hover {
    color: var(--color-info-strong);
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-actions .btn-grid-action:hover {
    background-color: var(--color-interface-soft);
}

.grid-actions-dropdown-menu {
    position: fixed;
    display: block;
    margin-top: 0;
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-quick-filter {
    display: flex;
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-quick-filter > .grid-quick-filter-search {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
    display: inline-flex;
    align-items: stretch;
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-quick-filter.active > .grid-quick-filter-search {
    width: 240px;
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-quick-filter.active > .grid-quick-filter-search > form {
    width: 100%;
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-quick-filter.active > .btn-grid-action {
    background-color: var(--color-interface-soft);
    color: var(--color-interface-stronger);
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-quick-filter > .grid-quick-filter-search > .control-wrapper,
.grid-obsidian > .grid-header > .grid-title-header > .grid-quick-filter > .grid-quick-filter-search > form > .control-wrapper,
.grid-obsidian > .grid-header > .grid-title-header > .grid-quick-filter > .grid-quick-filter-search > form > .control-wrapper > div,
.grid-obsidian > .grid-header > .grid-title-header > .grid-quick-filter > .grid-quick-filter-search > form > .control-wrapper > div > .form-control {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.grid-quick-filter-search > .control-wrapper > div {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
}

.grid-obsidian > .grid-header > .grid-title-header > .grid-quick-filter > .grid-quick-filter-search > .control-wrapper .form-control {
    height: 100%;
    width: 100%;
    border-radius: 0;
}

.grid-column-header-row {
    display: flex;
    font-weight: 500;
    color: var(--color-interface-strong);
    .grid-column-header:first-child {
        border-top-left-radius: var(--rounded-medium);
    }
    .grid-column-header:last-child {
        border-top-right-radius: var(--rounded-medium);
    }
}

.grid-column-header {
    position: relative;
    display: flex;
    align-items: center;
    word-break: break-word;
    font-size: 14px;
    padding: var(--table-cell-padding-y) var(--table-cell-padding-x);
    min-width: 120px;
    border-bottom: 1px solid var(--color-interface-soft);
}

.grid-bordered .grid-column-header {
    background-color: var(--color-interface-softer);
}

.grid-column-header.sortable {
    cursor: pointer;
}

.grid-column-header.sortable:hover {
    background-color: var(--color-info-soft);
}

.grid-column-title {
    flex: 1 1 auto;
    overflow: hidden;
}

.grid-sort-direction {
    display: flex;
    align-items: center;
    transition: transform .11s cubic-bezier(.2, 0, .38, .9);
    accent-color: var(--color-info-strong);
}

.grid-sort-direction svg {
    width: 14px;
    height: 21px;
}

.grid-sort-direction.sort-desc {
    /* transform flip */
    transform: rotate(180deg);
    /* transform orgin centerr */
    transform-origin: center;
}

.grid-column-header.grid-select-field .checkbox label {
    margin: 0;
}

.grid-column-header > .btn-grid-column-filter {
    border: 0;
    text-align: center;
    background-color: transparent;
    margin-left: var(--spacing-tiny);
    width: 26px;
    height: 24px;
    border-radius: var(--rounded-xsmall);
    color: var(--color-interface-medium);
    opacity: 0;
    transition: opacity 250ms, color 250ms;
}

.grid-column-header-row:hover .btn-grid-column-filter {
    opacity: 0.5;
}

.grid-column-header > .btn-grid-column-filter:hover {
    opacity: 1;
    background-color: var(--color-interface-softest);
}

.grid-column-header > .btn-grid-column-filter svg {
    width: 14px;
    height: 14px;
}

.grid-column-header > .btn-grid-column-filter.active {
    opacity: 1;
    color: var(--color-info-strong);
}

.grid-filter-popup-container {
    position: fixed;
    /* 1050 matches the bootstrap dropdown menu used in other parts of the grid. */
    z-index: 1050;
}

.grid-filter-popup-container .grid-filter-popup {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    min-width: 240px;
    max-width: 320px;
    max-height: 400px;
    background-color: var(--color-interface-softest);
    border: 1px solid var(--color-interface-soft);
    border-radius: 0;
    border-bottom-right-radius: var(--rounded-small);
    border-bottom-left-radius: var(--rounded-small);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    cursor: initial;
    font-weight: initial;
}

.grid-filter-popup-container .grid-filter-popup > .grid-filter-popup-content {
    flex-grow: 1;
    overflow-y: auto;
}

.grid-filter-popup-container .grid-filter-popup > .grid-filter-popup-content > .grid-filter-popup-body {
    margin: 10px;
    padding: 2px;
    overflow-x: clip;
}

.grid-filter-popup-container .grid-filter-popup > .actions {
    display: flex;
    border-top: 1px solid var(--color-interface-soft);
    background-color: var(--color-interface-softest);
    padding: var(--spacing-xsmall);
    gap: var(--spacing-xsmall);
}

.grid-filter-popup-container .grid-filter-popup .alert {
    border-top: 0;
    box-shadow: none;
    padding: var(--spacing-xsmall);
}

.grid-row {
    display: flex;
    background-color: var(--color-interface-softest);
    transition: background-color 70ms cubic-bezier(0, 0, .38, .9);
}

.grid-row.grid-row-selectable {
    cursor: pointer;
}

.grid-striped .grid-row.grid-row-even .grid-cell {
    background-color: var(--color-interface-softer);
}

.grid-hover .grid-row:hover .grid-cell {
    background-color: var(--color-info-soft);
}

.grid-cell {
    display: flex;
    align-items: center;
    padding: var(--table-cell-padding-y) var(--table-cell-padding-x);
    line-height: 1.4;
    align-self: stretch;
    word-break: break-word;
    background-color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 120px;
    border-bottom: 1px solid var(--color-interface-soft);
}

.grid-cell.grid-columnreorder {
    min-width: fit-content;
}

.grid-cell.grid-wrapcell {
    flex-wrap: wrap;
}

.grid-cell > .label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.grid-cell > .label:empty {
    display: none;
}

.grid-select-field {
    min-width: 60px;
}

.grid-obsidian .grid-select-field:first-child {
    align-items: center;
    padding-right: calc(var(--table-cell-padding-x) / 2);
    flex: 0 0 calc(var(--table-cell-padding-x) + 20px) !important;
}

.grid-obsidian .grid-columncommand {
    --table-cell-padding-y: 0;
    display: flex;
    align-items: center;
    padding: 0;
    min-width: fit-content;
}

.grid-obsidian .grid-columncommand .btn {
    opacity: .4;
}

.grid-obsidian .grid-columncommand .btn:hover {
    opacity: 1;
}

.grid-columnreorder {
    align-items: center;
}

.grid-footing {
    color: var(--color-interface-strongest);
    background-color: var(--color-interface-softest);
    border-radius: 0 0 var(--spacing-xsmall) var(--spacing-xsmall);
    overflow: hidden;
}

.grid-paging-footer {
    display: flex;
    padding: var(--spacing-xsmall) var(--table-cell-padding-x);
    align-items: center;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-sizes {
    flex: 1 1 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: var(--font-size-small);
    line-height: 16px;
    gap: var(--spacing-xsmall);
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-sizes .form-control {
    flex: 0 0 80px;
}

.grid-page-size-picker .btn {
    font-weight: 400;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker {
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    line-height: 1;
    color: var(--color-interface-stronger);
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker > button {
    display: inline-flex;
    justify-content: center;
    border: 1px solid var(--color-interface-soft);
    background-color: transparent;
    padding: var(--spacing-xsmall) var(--spacing-small);
    font-size: var(--font-size-small);
    line-height: 16px;
    min-width: 2.75em;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker > button:hover {
    background-color: var(--color-interface-softer);
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker > button ~ button {
    margin-left: -1px;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker .prev {
    border-radius: 4px 0 0 4px;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker .next {
    border-radius: 0 4px 4px 0;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker > button.disabled {
    color: var(--color-interface-medium);
    pointer-events: none;
}

.grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker > button.active {
    background-color: var(--color-interface-soft);
}

.grid-obsidian .grid-cell .highlight-detail {
    color: var(--color-interface-medium);
    font-size: var(--font-size-small);
}

.grid-obsidian .grid-cell .highlight-title {
    font-weight: var(--font-weight-semibold);
}

.grid-obsidian .grid-cell-boolean,
.grid-obsidian .grid-column-header-boolean {
    text-align: center;
    justify-content: center;
}

.grid-obsidian .grid-cell-number,
.grid-obsidian .grid-cell-currency,
.grid-obsidian .grid-column-header-number,
.grid-obsidian .grid-column-header-currency {
  text-align: right;
  justify-content: right;
}

.grid-obsidian {
    .grid-row:has(.table-empty) {
        border-bottom: 1px solid var(--color-interface-soft);
        border-bottom-left-radius: var(--rounded-small);
        border-bottom-right-radius: var(--rounded-small);

        &:hover {
            background-color: transparent;
        }

        .grid-row:has(.table-empty) .grid-cell {
            border-bottom: none;
            border-bottom-left-radius: var(--rounded-small);

            &:hover {
                background-color: transparent;
            }
        }

        .grid-hover .grid-row:hover:has(.table-empty) .grid-cell {
            background-color: transparent;
        }
        // If there is no footer content, round the bottom corners of the last row
        &:has(.grid-footing:empty) .grid-row {
            border-bottom-left-radius: var(--rounded-medium);
            border-bottom-right-radius: var(--rounded-medium);

            .grid-cell {
                border-bottom: none;
            }

            .grid-cell:first-child,
            .grid-cell:last-child {
                border-bottom-left-radius: var(--rounded-medium);
                border-bottom-right-radius: var(--rounded-medium);
            }
        }
    }
    // If there is a footer, but the last row is empty, don't round the bottom corners of the last row
    &:has(.grid-footing) .grid-row:has(.table-empty) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .grid-cell {
            border-bottom: none;

            &:hover {
                background-color: transparent;
            }
        }
    }

        @media (max-width: 767px) {
            .grid-obsidian > .grid-footing > .grid-paging-footer > .grid-page-picker > .page-num {
                display: none;
            }
        }

        @media (max-width:992px) {
            .grid-obsidian.grid-sticky .sticky-column-header {
                top: calc(var(--sticky-element-offset) + 114px);
            }
        }
    }