// imported in _core.scss

// INPUT GROUPS EXTENSIONS


// =============================================================
// Table of Content
//  + Base style
//  + Input-group buttons
//  + Input-group with select
// =============================================================


// ======================= BASE STYLE =======================

.input-group {
    height: 100%;
}

// ===================== END BASE STYLE =======================

// ======================= INPUT-GROUP BUTTONS =======================

.input-group-btn > .btn-square {
  padding: 6px 0;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {

  &:not(:first-child):not(:last-child),
  &:last-child {
    box-shadow: var(--input-box-shadow);
  }
}

.input-group-btn {
  height: 100%;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle:nth-last-child(n+3),
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  padding-top:                0;
  padding-bottom:             0;
}

.input-group-btn:last-child > .btn:not(.btn-sm) {
  border-top-left-radius:     0;
  border-bottom-left-radius:  0;
  padding-top:                6px;
  padding-bottom:             6px;
  height:                     100%;
  box-shadow:                 var(--input-box-shadow);
}

.input-group-btn:last-child > .btn.btn-sm {
  border-top-left-radius:    0;
  border-bottom-left-radius: 0;
}

.input-group .form-control:not(.ant-select):last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  padding-top:                6px;
  padding-bottom:             6px;
  height:                     100%;
  box-shadow:                 var(--input-box-shadow);
}

// ===================== END INPUT-GROUP BUTTONS =====================

// ===================== INPUT-GROUP WITH SELECT / DROPDOWN =====================

.input-group:has(.ant-select:last-child) .form-control {
  height: 38px;
}

.input-group-btn:first-child > .dropdown-toggle {
  height: 100%;
  padding-top: var(--spacing-tiny);
  padding-bottom: var(--spacing-tiny);
}

// ===================== END INPUT-GROUP WITH SELECT =====================