// Styles to override monoco editor defaults to match Rock theme


.monaco-editor > .overflow-guard > .margin,
.monaco-editor > .overflow-guard > .monaco-scrollable-element > .monaco-editor-background {
    background-color: var(--color-interface-softest) !important;
}

.monaco-editor .line-numbers.active-line-number {
    color: var(--color-interface-strong) !important;
}

.monaco-editor .view-overlays .current-line-exact {
    border-color: var(--color-interface-soft) !important;
}

.mtk14,
.mtk10 { // Element text and bracket color
    color: var(--color-danger-strong) !important;
}

.mtk1 { // Text content color
    color: var(--color-interface-strong) !important;
}

.mtk23 { // Variable color
    color: var(--color-info-strong) !important;
}

canvas.decorationsOverviewRuler {
    background-color: var(--color-interface-softest) !important;
}

.monaco-editor .cursors-layer .cursor {
    background-color: var(--color-interface-strongest) !important;
    border-color: var(--color-interface-strongest) !important;
    color: var(--color-interface-softest) !important;
}

.monaco-editor .sticky-widget {
    background-color: var(--color-interface-soft) !important;
}