// imported by _core.scss

// Panels Extensions (Rock Components)


// =============================================================
// Table of Content
//  + Panel Title
//  + Obsidian Panels (Panel Flex)
//  + Panel Collapsed
//  + Panel Parent
//  + Panel with Sidebar
//  + Panel Block
//  + Panel Toolbar
//  + Panel Worksurface
//  + Drawer Pull
//  + Panel Footer Content
//  + Panel Help
// =============================================================


// ======================== PANEL TITLE ========================

.panel-title {
  line-height:    var(--line-height-normal);
}

// ======================= END PANEL TITLE ======================

// ======================= PANEL HEADER ACTION BUTTONS =======================

// Make sure the last action button in the panel header has rounded corners on the top-right.



// ====================== END PANEL ACTION BUTTONS ======================

// ===================== OBSIDIAN PANELS (PANEL FLEX) =====================

// Styles created for new Obsidian panels. Not used by webforms-based panels.

.panel-flex .label-group > .label + * {
  margin-left: var(--spacing-xsmall);
}

.panel.panel-flex {
  display:              flex;
  flex-direction:       column;

  > .panel-heading,
  > .panel-header {
    display:            flex;
    align-items:        center;
    min-height:         48px;
    padding:            0;
    line-height:        1em;

    > .panel-title {
      flex-grow:        1;
      padding:          0 var(--spacing-large);

      .label {
        margin-left:   var(--spacing-xsmall);
      }
    }

    > .panel-aside {
      padding:          0 var(--spacing-large) 0 0;
    }

    > .panel-action {
      position:         relative;
      display:          flex;
      align-items:      center;
      align-self:       stretch;
      justify-content:  center;
      width:            48px;
      cursor:           pointer;
      border-left:      1px solid var(--color-interface-soft);

      .rock-fullscreen-toggle {
        position:       relative;
        border-left:    0;
      }
    }

    /*
      12/15/2025 - JPH

      Many of the following styles - especially those referencing the newly-added .btn-panel-action class - were copied
      from the corresponding .btn-grid-action rules, so the panel's header actions will match those of the grid's:
      https://github.com/SparkDevNetwork/Rock/blob/d3b2eddd6b39df240b1a72cde482943979f81821/RockWeb/Styles/styles-v2/rock-components/_grid-obsidian.scss#L82-L105

      We should eventually merge these rules into a common set of rules if possible so we only have to maintain them in
      a single place.

      Reason: Panel and Grid header action styles should match.
    */

    .panel-header-actions > *:not(.btn-panel-action, .panel-secondary-actions, .quick-filter) { // This will add space between custom elements in .panel-header-actions that are NOT meant to be action buttons.
      margin-right: var(--spacing-small);
    }

    .panel-header-actions {
      height:           100%;
      display:          flex;
      align-items:      center;
      justify-content:  flex-end;
      padding:          0;
      margin:           0;
      font-size:        var(--font-size-h5);

      > .action {
        padding-right:  var(--spacing-medium);
        margin:         0px;
        color:          var(--color-interface-strong);
        transition:     color .2s, background-color .2s, border-radius .2s;

        &:hover {
          color:        var(--color-interface-stronger);
        }

        &.active {
          background-color:   rgba(0, 0, 0, .05);
          border-radius:      var(--rounded-small);
        }
      }

      .btn-panel-action {
        height:           56px;
        width:            56px;
        margin:           0;
        border-radius:    0;
        background-color: transparent;
        color:            var(--color-interface-medium);
        font-size:        115%;

        &.btn-add {
          color:          var(--color-info-strong);

          &:hover {
            color:        var(--color-info-strong);
          }
        }

        &.active,
        &:hover {
          background-color: var(--color-interface-soft);
          color:            var(--color-interface-stronger);
        }
      }

      .btn-panel-action:last-child,
      .panel-secondary-actions:last-child .btn-panel-action,
      .quick-filter:last-child,
      .quick-filter:last-child .btn-panel-action {
        border-top-right-radius: var(--rounded-small);
      }

      .quick-filter:last-child.quick-filter-active {
        border-top-right-radius: 0;

        .btn-panel-action.active {
          border-top-right-radius: 0;
        }

        .quick-filter-open,
        .quick-filter-open * {
          border-top-right-radius: var(--rounded-small);
        }
      }
      // If the panel's quick filter has an immediate sibling to the right that's NOT a .btn-panel-action, add a right margin.
      /*.quick-filter:has(+ *):not(:has(+ .btn-panel-action)),
      .quick-filter:has(+ *):not(:has(+ .panel-secondary-actions)) {
        margin-right: var(--spacing-medium);
      }*/

      // Hide the action buttons on small screens
      @media screen and (max-width: $screen-small) {
        .panel-action-zoom,
        .panel-action-zoom-control,
        .panel-action-fullscreen {
          display: none;
        }
      }
    }
  }

  .panel-sub-header > .panel-sub-header-left {
    flex-grow:    1;
  }

  .footer-secondary-actions {
    margin:       0 0 0 auto !important;
  }

  .panel-actions {
    display:          flex;
    flex-wrap:        wrap;
    align-items:      center;
    padding:          0 var(--spacing-medium) var(--spacing-medium);
    margin:           var(--spacing-medium) calc(var(--spacing-medium) * -1) calc(var(--spacing-medium) * -1) calc(var(--spacing-medium) * -1);
  }
}

.panel.panel-fullscreen {
  position:     absolute;
  top:          0;
  left:         0;
  width:        100vw;
  height:       100vh;
  margin:       0;

  &,
  > .panel-heading,
  > .panel-header {
    border-radius: 0;
  }
}


.panel.panel-flex .panel-flex-fill-body {
  position:   absolute;
  top:        0;
  right:      0;
  bottom:     0;
  left:       0;
  display:          flex;
  flex-direction:   column;
}

.panel.panel-flex.panel-fullscreen > .panel-body {
  position:       relative;
  flex-grow:      1;
  overflow-y:     auto;
}

.page-fullscreen-capable .panel.panel-block.panel-flex {
  overflow-y:     hidden;

  > .panel-body {
    position:     relative;

    &::before,
    &::after {
      display:    none;
    }
  }
}

// ===================== END PANEL FLEX =====================

// ===================== PANEL COLLAPSED =====================
.panel {
  // When a panel is in a collapsed state
  &.panel-collapsed {
    .panel-heading,
    .panel-header,
    .panel-sub-header,
    .panel-action-help {
      border-radius: var(--rounded-medium);
      border-bottom: none;
    }
    .panel-drawer,
    .tabbed-bar {
      border-radius: var(--rounded-medium);
    }
    .panel-drawer > .drawer-pull {
      border-bottom: none;
    }
    .panel-heading + .panel-help,
    .panel-header + .panel-help {
      border-top: 1px solid var(--color-interface-soft);
    }
    .panel-help + .tabbed-bar {
      border-top: 1px solid var(--color-interface-soft);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  &.panel-note:not(:has(.note-new)) {
    .panel-heading,
    .panel-header {
      border-bottom: none;
      border-radius: var(--rounded-medium);
    }
  }

  // If a panel is collapsed and has a tabbed bar, drawer, or sub-header, the border should stay.
  &.panel-collapsed:has(.tabbed-bar) .panel-heading,
  &.panel-collapsed:has(.panel-drawer) .panel-heading,
  &.panel-collapsed:has(.panel-sub-header) .panel-heading,
  &.panel-collapsed:has(.tabbed-bar) .panel-header,
  &.panel-collapsed:has(.panel-drawer) .panel-header,
  &.panel-collapsed:has(.panel-sub-header) .panel-header {
    border-bottom: 1px solid var(--color-interface-soft);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  // Remove heading bottom border if collapsed state only has help-content.
  &.panel-collapsed:has(.panel-heading + .panel-help) .panel-heading,
  &.panel-collapsed:has(.panel-header + .panel-help) .panel-header {
    border-bottom: none;
  }

  &.panel-collapsed:has(.tabbed-bar) .panel-drawer > .drawer-pull,
  &.panel-collapsed:has(.tabbed-bar) .panel-sub-header,
  &.panel-collapsed:has(.panel-drawer) .panel-sub-header,
  &.panel-collapsed:has(.panel-help) .panel-sub-header,
  &.panel-collapsed:has(.panel-drawer) .panel-help {
    border-bottom: 1px solid var(--color-interface-soft);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: none;
  }

}

// ================== END PANEL COLLAPSED ===================

// ======================== PANEL PARENT ========================
.panel-parent {
  & > .panel-body {
    padding: 0;
  }

  .panel {
    margin-bottom:  0;
    border:         0;

    .panel-heading,
    .panel-header {
      display:      none;
    }
  }
}
// ====================== END PANEL PARENT ======================

// ======================== PANEL WITH SIDEBAR ========================
// Panels with sidebar content use a grid with 4 columns and 2 rows.
/* use e("/") to escape the forward slash during compilation. */
.panel-with-sidebar {
  display:                grid;
  grid-template-columns:  repeat(4, 1fr);
  gap:                    var(--spacing-medium);
  box-shadow:             0 0 1px 0 rgba(0,0,0,0.03), 0 1px 3px 0 rgba(0,0,0,0.08);
  background:             var(--color-interface-softest);
  border:                 1px solid var(--color-interface-soft);
  border-radius:          var(--rounded-small);
  margin-bottom:          var(--spacing-large);
  /* The sidebar panel content spans 1 of the 4 columns of the 1st row. */
  > .panel-sidebar-content {
    grid-column:    1;
    grid-row:       1;
    /* Include margins for the top and left. */
    margin-top:           var(--spacing-medium);
    margin-left:          var(--spacing-medium);
  }
  /* The main panel content spans 3 of the 4 columns of the 1st row. */
  > .panel {
    grid-column:  2 / span 3;
    grid-row:     1;
    border:       0;
    box-shadow:   none;
  }
  /* Remove background and borders for main panel headers. */
  .panel-block {
    > .panel-heading > .panel-sub-header,
    > .panel-header > .panel-sub-header {
      border-bottom:    0;
      background-color: var(--color-interface-softest);
    }
  }
  /* The footer spans all 4 columns of the 2nd row. */
  .sidebar-footer {
    grid-column:  1 / span 4;
    grid-row:     2;
    /* The actions footer items uses a sub grid with a single row and 2 columns. */
    > div.actions {
      display:                grid;
      justify-items:          start;
      grid-template-columns:  repeat(2, 1fr);
      margin:                 var(--spacing-medium);

      div.footer-actions {
        grid-column:      1;
        /* Child buttons should have margins */
        > * {
          margin-right:   var(--spacing-xsmall);
        }
      }
      /* justify the secondary footer actions to the right-hand side (end) of the grid. */
      div.footer-secondary-actions {
        grid-column:      2;
        justify-self:     end;
        /* Child buttons should have margins */
        > * {
          margin-left:    var(--spacing-tiny);
        }
      }
    }
  }
}

  // Removes the padding from a panel's body
.panel.panel-body-flush {
  & > .panel-body {
    padding: 0;

    .actions:last-of-type {
        margin: inherit;
    }
  }
}

.panel .panel-body .actions + .alert {
  margin-top: var(--spacing-small);
};

// Moved from theme.less
.panel-block {
  position:           relative;
  display:            -ms-flexbox;
  display:            flex;
  -ms-flex-direction: column;
  flex-direction:     column;
  min-width:          0;

  > .panel-heading,
  > .panel-header {
    border-bottom:    1px solid var(--color-interface-softer);
  }

  > .panel-body {
    -ms-flex:         1 1 auto;
    flex:             1 1 auto;
  }

  .is-fullscreen & {
    height:           100vh !important;
    margin:           0;
    overflow:         auto;
    background-color: var(--color-interface-softest);
    border-radius:    0;

    .panel-block {
      height:         auto !important;
      margin-bottom:  var(--spacing-large);
      overflow:       visible;
    }
  }

  .wizard {
    padding:        var(--spacing-medium) 0;
    margin:         0;
    background:     var(--color-interface-softest);
    border-bottom:  1px solid var(--color-interface-soft);
  }


  .treeview-actions {
    display:  flex;
    margin:   -6px -12px -6px 0 !important;

    .btn-link {
      width:          28px;
      padding:        6px 0;
      margin-bottom:  0;
      font-size:      var(--font-size-small);
      color:          var(--color-interface-medium);
      border:         0;

      &:hover {
        color:        var(--color-link);
      }

      &.aspNetDisabled {
        cursor:       not-allowed !important;
        opacity:      .4 !important;
      }
    }
  }
}
// ====================== END PANEL WITH SIDEBAR ======================
// ======================== PANEL BLOCK ========================

.panel-block {
  position:           relative;
  display:            -ms-flexbox;
  display:            flex;
  -ms-flex-direction: column;
  flex-direction:     column;
  min-width:          0;

  > .panel-heading,
  > .panel-header {
    border-bottom:        1px solid var(--color-interface-soft);
    background-color:     var(--color-interface-softest);
    // border-bottom-color:  var(--color-interface-soft);
    padding-left:         var(--spacing-medium);
    height:               56px; // to match the NextGen grid

    & .panel-title {
      font-size:          var(--font-size-h5);
      overflow:           hidden;
      text-overflow:      ellipsis;
      white-space:        nowrap;
      line-height:        var(--line-height-normal);

      .label {
        margin-left:     var(--spacing-xsmall);
      }
    }

    // When there is only a label in the actions, add a bit more margin
    /*> .panel-header-actions:has(div:only-child > .label) {
      margin-right: var(--spacing-medium);
    }*/
  }

  > .panel-body {
    -ms-flex:       1 1 auto;
    flex:           1 1 auto;
  }

  .is-fullscreen & {
    height:           100vh !important;
    margin:           0;
    overflow:         auto;
    background-color: var(--color-interface-softest);
    border-radius:    0;

    .panel-block {
      height:         auto !important;
      margin-bottom:  var(--spacing-large);
      overflow:       visible;
    }
  }

  .wizard {
    padding:        var(--spacing-medium) 0;
    margin:         0;
    background:     var(--color-interface-softest);
    border-bottom:  1px solid var(--color-interface-soft);
  }


  .treeview-actions {
    display:    flex;
    margin:     -6px -12px -6px 0 !important;

    .btn-link {
      width:          28px;
      padding:        6px 0;
      margin-bottom:  0;
      font-size:      var(--font-size-small);
      color:          var(--color-interface-strong);
      border:         0;

      &:hover {
        color:        var(--color-interface-stronger);
      }

      &.aspNetDisabled {
        cursor:       not-allowed !important;
        opacity:      .4 !important;
      }
    }
  }

  .panel-body {
    .panel-fullwidth,
    .grid.grid-panel {
      .table-bordered {
        & > tfoot > tr > td {
          &.grid-actions {
            border-top: 1px solid var(--color-interface-soft);
          }
        }
      }
    }
  }

}

.panel-block,
.panel-section,
.panel-note {
  > .panel-heading,
  > .panel-header {
    display:                  -ms-flexbox;
    display:                  flex;
    align-content:            center;
    align-items:              center;
    // Have to add these before the border was overlapping each other.
    border-top-left-radius:   var(--rounded-medium);
    border-top-right-radius:  var(--rounded-medium);

    .row {
      width:          100%;
    }

    > .panel-title {
      margin-right:   auto;
    }

    .filter-toggle {
      margin-top:     0;
    }

    > .panel-labels,
    > .pull-right {
      margin-left:    auto;
      text-align:     right;
    }

    > .panel-labels {
      margin-top:     calc(var(--spacing-xsmall) * -1);
      margin-bottom:  calc(var(--spacing-xsmall) * -1);

      .btn {
        vertical-align: baseline;
      }
    }

    > .description {
      display:          block;
    }
  }
}

// ======================= END PANEL BLOCK ======================

// ======================= PANEL TOOLBAR ======================

.panel-toolbar {

    .btn-group {
      .btn-tool {
        padding: 1px var(--spacing-tiny);
        color: var(--color-interface-strong);
        font-size: var(--font-size-xsmall);
        font-weight: var(--font-weight-semibold);
        line-height: 24px;
        background: transparent;
        border: 1px solid transparent;

        &:focus,
        &:hover,
        &:active,
        &.active {
            background: var(--color-interface-soft);
        }
      }
    }

}

// ======================= END PANEL TOOLBAR ======================


// ======================= PANEL WORKSURFACE ======================

.panel-worksurface > .panel-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.panel-worksurface .panel-scrollable-content {
    flex-grow: 1;
    overflow: hidden auto;
}

// ====================== END PANEL WORKSURFACE ======================


// ======================= DRAWER PULL ======================

.drawer-pull {
  padding: 6px 8px;
  color: var(--color-interface-strong);
  cursor: pointer;
  border-bottom: 1px solid var(--color-interface-soft);

  &:before,
  &:after {
    display: table; // 2
    content: " "; // 1
  }
  &:after {
    clear: both;
  }

  i {
    float: right;
  }
}

// ======================= END DRAWER PULL ======================

// ======================= PANEL FOOTER CONTENT =======================

.panel-footer-content {
  padding: var(--spacing-medium);
  background: var(--color-interface-softer);
  border-top: 1px solid var(--color-interface-soft);
  border-bottom-left-radius: var(--rounded-medium);
  border-bottom-right-radius: var(--rounded-medium);
}

.panel-sidebar-footer-content {
    grid-column: 1 / span 4;
}

// ===================== END PANEL FOOTER CONTENT =====================

// ===================== PANEL HELP =====================

.help-content {
  padding: var(--spacing-tiny) var(--spacing-medium);
}

// ===================== END PANEL HELP =====================