
// Rock Obsidian - used to obsidian component and block (Rock Component)

/**
*   NOTE:
*
*   The `--initial-block-height` value is dynamically
*   set by a RockBlockType.cs file.
**/


// =============================================================
// Table of Content
//  + Block Style
//  + Panel Style
//  + rockslide
// =============================================================


// ======================== BLOCK STYLE ========================
.block-content > .obsidian-block-has-placeholder {
  position:     relative;
  transition:   height 0.1s ease-in-out;
  overflow:     hidden;
}
.block-content > .obsidian-block-has-placeholder.obsidian-block-loading {
    height:     var(--initial-block-height, auto);
}
.block-content > .obsidian-block-has-placeholder > .obsidian-block-placeholder {
    opacity:    0;
    visibility: hidden;
    transition: visibility 0.2s linear, opacity 0.2s linear;
    height:     100%;
    width:      100%;
    position:   absolute;
    top:        0;
    left:       0;
    z-index:    1000;
}
.block-content > .obsidian-block-has-placeholder.obsidian-block-loading > .obsidian-block-placeholder {
    opacity: 1;
    visibility: visible;
}
.block-content > .obsidian-block-has-placeholder > .obsidian-block-wrapper {
    visibility: visible;
}
.block-content > .obsidian-block-has-placeholder.obsidian-block-loading > .obsidian-block-wrapper {
    min-height: 0;
    transition: visibility 0.2s;
    visibility: hidden;
}
// ====================== END BLOCK STYLE ======================

// ======================== PANEL STYLE ========================
.panel-flex .label-group > .label + * {
  margin-left: var(--spacing-xsmall);
}

.panel.panel-flex {
  display:              flex;
  flex-direction:       column;

  > .panel-heading,
  > .panel-header {
    display:            flex;
    align-items:        center;
    min-height:         48px;
    padding:            0;
    line-height:        1em;

    > .panel-title {
      flex-grow:        1;
      padding:          0 var(--spacing-large);

      .label {
        margin-left:   var(--spacing-xsmall);
      }
    }

    > .panel-aside {
      padding:          0 var(--spacing-large) 0 0;
    }

    > .panel-action {
      position:         relative;
      display:          flex;
      align-items:      center;
      align-self:       stretch;
      justify-content:  center;
      width:            48px;
      cursor:           pointer;
      border-left:      1px solid var(--color-interface-soft);

      .rock-fullscreen-toggle {
        position:       relative;
        border-left:    0;
      }
    }

    /*
      12/15/2025 - JPH

      Many of the following styles - especially those referencing the newly-added .btn-panel-action class - were copied
      from the corresponding .btn-grid-action rules, so the panel's header actions will match those of the grid's:
      https://github.com/SparkDevNetwork/Rock/blob/d3b2eddd6b39df240b1a72cde482943979f81821/RockWeb/Styles/styles-v2/rock-components/_grid-obsidian.scss#L82-L105

      We should eventually merge these rules into a common set of rules if possible so we only have to maintain them in
      a single place.

      Reason: Panel and Grid header action styles should match.
    */

    .panel-header-actions:not(:has(.action, .btn-panel-action)) {
      margin-right: var(--spacing-medium);
    }

    .panel-header-actions {
      height:           100%;
      display:          flex;
      align-items:      center;
      justify-content:  flex-end;
      padding:          0;
      margin:           0;
      font-size:        var(--font-size-h5);

      > .action {
        padding-right:  var(--spacing-medium);
        margin:         0px;
        color:          var(--color-interface-strong);
        transition:     color .2s, background-color .2s, border-radius .2s;

        &:hover {
          color:        var(--color-interface-stronger);
        }

        &.active {
          background-color:   rgba(0, 0, 0, .05);
          border-radius:      var(--rounded-small);
        }
      }

      .btn-panel-action {
        height:           56px;
        width:            56px;
        margin:           0;
        border-radius:    0;
        background-color: transparent;
        color:            var(--color-interface-medium);
        font-size: 115%;

        &.btn-add {
          color:          var(--color-info-strong);

          &:hover {
            color:        var(--color-info-strong);
          }
        }

        &.active,
        &:hover {
          background-color: var(--color-interface-soft);
          color:            var(--color-interface-stronger);
        }
      }

      // If the panel's quick filter has an immediate sibling to the right that's NOT a .btn-panel-action, add a right margin.
      .quick-filter:has(+ *):not(:has(+ .btn-panel-action)) {
        margin-right: var(--spacing-medium);
      }

      // Hide the action buttons on small screens
      @media screen and (max-width: $screen-small) {
        .panel-action-zoom,
        .panel-action-zoom-control,
        .panel-action-fullscreen {
          display: none;
        }
      }
    }
  }

  .panel-sub-header > .panel-sub-header-left {
    flex-grow:    1;
  }

  .footer-secondary-actions {
    margin:       0 0 0 auto !important;
  }

  .panel-actions {
    display:          flex;
    flex-wrap:        wrap;
    align-items:      center;
    padding:          0 var(--spacing-medium) var(--spacing-medium);
    margin:           var(--spacing-medium) calc(var(--spacing-medium) * -1) calc(var(--spacing-medium) * -1) calc(var(--spacing-medium) * -1);
  }
}

.panel.panel-fullscreen {
  position:     absolute;
  top:          0;
  left:         0;
  width:        100vw;
  height:       100vh;
  margin:       0;

  &,
  > .panel-heading,
  > .panel-header {
    border-radius: 0;
  }
}


.panel.panel-flex .panel-flex-fill-body {
  position:   absolute;
  top:        0;
  right:      0;
  bottom:     0;
  left:       0;
  display:          flex;
  flex-direction:   column;
}

.panel.panel-flex.panel-fullscreen > .panel-body {
  position:       relative;
  flex-grow:      1;
  overflow-y:     auto;
}

.page-fullscreen-capable .panel.panel-block.panel-flex {
  overflow-y:     hidden;

  > .panel-body {
    position:     relative;

    &::before,
    &::after {
      display:    none;
    }
  }
}

.picker.picker-obsidian {
  width:          initial;

  > .picker-label {
    max-width:    initial;
  }

  .picker-select-none {
    display:      none;
  }

  &.picker-show-clear .picker-select-none {
    display:      block;
  }

  &.picker-full-width {
    max-width:    initial;
  }
}
// ====================== END PANEL STYLE ======================


// ======================== ROCKSLIDE STYLE ========================
.rockslide-enter-active,
.rockslide-leave-active {
  transition:     all .6s ease;
}

.rockslide-enter,
.rockslide-leave-to {
  opacity:        0;
  transform:      translateY(-100%);
}
// ====================== END ROCKSLIDE STYLE ======================


