
// SEGMENT "AND" STYLE


// =============================================================
// Table of Content           
//  + Base Style        
// =============================================================

.segment-and {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 580px;
    margin: 32px auto;
    
    &::before,
    &::after {
        content: "";
        border: 1px solid var(--color-interface-soft);
        flex: 1;
    }
    .text {
        padding: 0 var(--spacing-tiny);
        text-transform: uppercase;
        border: 1px solid var(--color-interface-softer);
        border-radius: var(--rounded-xsmall);
        font-size: var(--font-size-small);
        background-color: var(--color-interface-softer);
        font-weight: var(--font-weight-medium);
        margin: 0 var(--spacing-xsmall);
    }
}