// Tabbed Nav Bar (Rock Component)


// =============================================================
// Table of Content
//  + Base style
//  + Pills style
//  + Drop Down Menu button overrides
// =============================================================


// ======================== BASE STYLE ========================

.tabbed-bar {
    border-bottom: 6px solid var(--color-interface-soft);
    padding: 0 var(--spacing-large);
}

.tabbed-bar > .toolbar-nav {
    display: flex;
    margin: 0 0 -6px;
    padding: 0;
    list-style-type: none;
}

.tabbed-bar > .toolbar-nav > li {
    display: inline-block;
    padding: var(--spacing-xsmall) var(--spacing-small);
    border-bottom: 6px solid transparent;
    white-space: nowrap;
    transition: border-bottom-color 0.25s ease;
}

.tabbed-bar > .toolbar-nav > li:hover {
    border-bottom-color: var(--color-interface-medium);
}

.tabbed-bar > .toolbar-nav > li.active {
    border-bottom-color: var(--color-primary, #a8a8a8);
}

.tabbed-bar > .toolbar-nav > li .title {
    display: inline-block;
    padding: var(--spacing-tiny) 6px;
    cursor: pointer;
    font-weight: var(--font-weight-semibold);
}

.tabbed-bar > .toolbar-nav > li > a {
    color: var(--color-interface-stronger);
}

.tabbed-bar > .toolbar-nav > li.more-items {
    font-weight: initial;
}

.tabbed-bar > .toolbar-nav > li.more-items > .dropdown > .btn {
    padding: 0;
}

.tabbed-bar > .toolbar-nav > li.more-items .ti {
    margin-left: 8px;
}

// ====================== END BASE STYLE ======================

// ======================== PILLS STYLE ========================

.tabbed-bar.pills {
    margin-bottom: 0;
    border-bottom: 0;
}

.tabbed-bar.pills > .toolbar-nav > li {
    padding: 0 6px;
    border-bottom: 0;
}

.tabbed-bar.pills > .toolbar-nav > li .title {
    padding: 6px var(--spacing-small);
    border-radius: var(--rounded-xsmall);
    transition: background-color 0.25s ease, color 0.25s ease;
    background-color: var(--color-interface-softer);
}

.tabbed-bar.pills > .toolbar-nav > li:hover .title {
    background-color: var(--color-interface-soft);
}

.tabbed-bar.pills > .toolbar-nav > li.active .title {
    background-color: var(--color-primary, #a8a8a8);
    color: var(--color-interface-strongest);
}

// ====================== END PILLS STYLE ======================

// ======================== DROP DOWN MENU button overrides ========================

.tabbed-bar
.tabbed-bar > .toolbar-nav > li.more-items :deep(.btn-overflow) {
    margin: 0;
    padding: 0;
    border: 0;
}

// ======================== DROP DOWN MENU button overrides ========================