// imported by _core.scss

// TOOLTIP EXTENSIONS


// =============================================================
// Table of Contents
//  + Lava Tooltip Style
// =============================================================

// ======================== LAVA TOOLTIP STYLE ========================

.tip {
  padding: var(--spacing-tiny);
  font-size: var(--font-size-xsmall);
  color: var(--color-interface-softest);
  background-color: var(--color-interface-stronger);
  border-radius: var(--rounded-xsmall);
}

.tip-liquid,
.tip-lava {
  &::after {
    content: "{{ Lava }}";
    background-color: var(--color-info-strong);
  }
}


.tip-html {
  &::after {
    content: "< HTML />";
  }
}

// ====================== END LAVA TOOLTIP STYLE ======================