@charset "UTF-8";
/* CSS Overrides Top Start */
@import url('/Styles/styles-v2/icons/tabler-icon.css?v=225734114');
/* CSS Overrides Top End */

@import "../../../Styles/styles-v2/core.css";

/*# sourceMappingURL=core.css.map */

/* CSS Overrides Bottom Start */
:root {
    --color-primary: #ee7725;
    --logo-image: url('/Assets/Images/rock-logo-gray.svg');
    --color-interface-strongest: #000000;
    --color-interface-stronger: #1C1C1E;
    --color-interface-strong: #5D5D6F;
    --color-interface-medium: #8B8BA7;
    --color-interface-soft: #D9D9E3;
    --color-interface-softer: #E7E9EF;
    --color-interface-softest: #FFFFFF;
    --color-success-soft: #D7F4DE;
    --color-success-strong: #248A3D;
}
/* CSS Overrides Bottom End */
